/*MediaQ*/
@use "./variables" as*;

/*NAV GENERAL*/
@media (max-width: 800px){
    header{
        .menu{
            display: none;
        }
        .menu-hamburguesa{
            visibility: visible;
            justify-items: center;
            .btn-secondary {
                color: #100e0e;
                background-color: #e8bcf6;
                border: none;
            }
        }
    }
}
@media (min-width: 801px) {
    header{
        .menu{
            visibility: visible;
        }
    }
    .menu-hamburguesa{
        display: none;
    }
}

/*INDEX*/
@media (max-width: 1000px){
    .mainindex{
        background-size: cover;
        height: 1000px;    
        .textomainindex{
            font-size: small;
            font-weight: bold;
            text-align: center;
            margin-top: 0px;
            h1{
                font-weight: 500;
                font-size: large;
            }
            h2{
                font-weight: 300;
                font-size: small;
            } 
        }       
    }
    .flexfooterindex{
        height: 100px;
    }
    .wave-mediaquery{
        display: none;
    }
}
@media (min-width: 1001px){
    .mainindex{
        height: 1000px;
    } 
    
}


/*INDEX Seccion Productos*/
/*TORTAS*/
@media (max-width: 1000px){
    .wave-mediaquery{
        visibility: hidden;
    }
    .flex-productos{
        display: none;
    }
}
@media (min-width: 1001px) and (max-width: 1400px){
    .estilo-sectiontortas-index{
        margin-top: -10px;
        margin-bottom: 10px;
        .estilo-texto-productos{
            h2, h3{
                margin-top: 40px;
                font-weight: 300;
            }
            justify-items: center;
            font-size: small;
            .textomediaqueryproductos{
            display: none;
            }
        }
        img{
            margin-top: 30px;
        }
        .estilo-imagenproductos{
            height: 300px;
            align-items: start;
        }
    }
}

@media (min-width: 1401px){
    .estilo-sectiontortas-index{  
        height: 1000px;
        .estilo-texto-productos{
            justify-items: center;
            align-content: center;
            h2, h3{
                font-weight: 300;
                font-size: xx-large;
                .textomediaqueryproductos{
                display: none;
                }
            }           
        }
        .estilo-imagenproductos{
            margin-top: 200px;
        }
    }

    .estilo-cookie{
        .wave-mediaquery{
        display: unset;
        }
        .estilo-sectioncookies-index{
        height: 1000px;
            .estilo-texto-productos{
                justify-items: center;
                align-content: center;
                h2, h3{
                    font-weight: 300;
                    font-size: xx-large;
                    .textomediaqueryproductos{
                    display: none;
                    }
                }           
            }
            .estilo-imagenproductos{
                margin-top: 200px;
            }
        }
    }
}


/*Cupcakes*/
.estilo-cupcakes{
    .wave-mediaquery{
        display: contents;
        margin-top: -100px;
    }
    .estilo-sectioncupcakes-index{
        height: 1000px;
        @extend .estilo-sectiontortas-index;
        .textomediaqueryproductos{
                display: none;
            }
        .estilo-texto-productos{
            margin-left: 30px;
        }        
    }
}
@media (min-width: 1600px){
    .estilo-wave-index{
        margin-top: -600px;
    }
    .estilo-sectiontortas-index{
        margin-top: -10px;
        height: 1000px;
        align-items: start;
        justify-items: center;
        .estilo-texto-productos{
            margin-top: 100px;
        }
        .estilo-imagenproductos{
            height: 500px;
            margin: 0px;
        }
    }
    .estilo-cookie{
        margin-top: -500px;
        .estilo-sectioncookies-index{
            height: 1000px;
            .estilo-imagenproductos{
                height: 500px;
            }
        }
    }
    .estilo-cupcakes{
        margin-top: -500px;
        .estilo-sectioncupcakes-index{
            height: 1000px;
            .estilo-imagenproductos{
                height: 500px;
            }
        }
    }
}
/*PAGINA PRODUCTOS*/
@media (max-width: 1000px){
    .contenedor-grid{
        display: grid;
        grid-template-areas: 
        "texto-cookies-torta-cupcake"
        "producto1"
        "parrafoproducto1"
        "producto2"
        "parrafoproducto2"
        "producto3"
        "parrafoproducto3"
        "producto4" 
        "parrafoproducto4"
        "producto5"
        "parrafoproducto5"
        "producto6"
        "parrafoproducto6";
        grid-template-columns: 1fr;
        
        justify-items: center;
        .parrafoproducto1{
            text-align: start;
        }
    }
}
@media (min-width: 1001px) and (max-width: 1100px){
    .contenedor-grid{
        display: grid;
        grid-template-areas: 
        "texto-cookies-torta-cupcake texto-cookies-torta-cupcake"
        "producto1 producto2"
        "parrafoproducto1 parrafoproducto2"
        "producto3 producto4" 
        "parrafoproducto3 parrafoproducto4"
        "producto5 producto6"
        "parrafoproducto5 parrafoproducto6";
        grid-template-columns: 50% 50%;

        justify-items: center;
    }    
}
/*PAGINA SOBRE MI MAIN*/
@media (max-width: 480px){
    .sobremi{
        flex-direction: column;
        height: 100%;
        .sobremidisenio{
            display: flex;
            margin-top: 20px;
            width: 300px;
            img{
                height: 250px;
                align-items: center;
            }
            .sobremimediaquery{
                margin-top: 10px;
                align-items: center;
            }
            .sobremihidden{
                display: none; 
            }
        }
    }
}
@media (min-width: 481px) and (max-width: 850px){
    .sobremi{
        flex-direction: column;
        .sobremidisenio{
            margin: 10px;
            justify-items: center;
            img{
                height: 300px;
            }
            .sobremimediaquery{
                margin-top: 10px;
                align-items: center;
                width: 80%;
            }
            .sobremihidden{
                display: none; 
            }
        }
    }
}
/*PAGINA CONTACTO MAIN*/
@media (max-width: 600px){
    .paginacontacto{
        flex-direction: column;
        width: 100%;
        height: 100%;
        .formulario{
            margin-left: auto;
            h2{
                justify-self: center;
            }
        }
    }
    .fotocontactomediaquery{
        display: none;
        .fotocontacto{
            width: 400px;
            align-items: center;
            margin-top: 0px;
        }
    }
}
@media (min-width:601px) and (max-width:1099px){
    .paginacontacto{
        flex-direction: column;
        width: 100%;
        height: 100%;
        .formulario{
            margin: 0px;
            h2{
                justify-self: center;
            }
        }
    }
    .fotocontactomediaquery img{
        display: none;
    }
}
@media (min-width: 1100px) and (max-width: 1400px){
    .paginacontacto{
        .formulario{
            margin-left: auto;
        }
        .fotocontactomediaquery img{
            width: 600px;
        }
    }
}
/*FOOTER GENERAL*/
@media (max-width: 1000px){
    .flexfooter{
        font-size: 15px;
        justify-content: space-around;
        .diseniofooter{
        margin: 0px;
        align-items: center;
            a{
                justify-content: space-between;
            }
        }
    }
}
@media (min-width: 1001px){
    .flexfooter{
        height: 90px;
    }
}