/*PAGINA SOBRE MI*/
@use "variables" as*;

.sobremi{
    background-color: $colorfondo; 
    display: flex; 
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 600px;
    .sobremidisenio{
        justify-content: center;
        align-items: center;
        width: 550px;
            img{
                height: 500px;
                margin: 10px;
                background-color: #e8b6f7;
                border-radius: 30px;   
            }
    }
}
